 :host /deep/ .ui-datatable .ui-datatable-thead > tr > th {
    height: 30px;
    font-size: 10px;
    text-align: center;
    word-wrap: normal;
}
:host /deep/ .ui-datatable .ui-datatable-data > tr > td {
    height: 40px;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
:host /deep/ .ui-datatable .ui-datatable-tfoot > tr > td {
    height: 30px;
    font-size: 10px;
    text-align: center;
    word-wrap: normal;
}

.inputDay {
    width: 12px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0rem !important;
    padding: 0rem 0rem !important;
}


:host /deep/ .cellHoliday {
    width: 20px !important;
    overflow: inherit !important;
    background-color: grey !important;
    color: white !important;
    border-color: grey !important;
}

:host /deep/ .cellDay {
    width:20px !important;
    overflow: inherit !important;
}

:host /deep/ .fixed .ui-datatable-scrollable-view{
    float: none!important;
} 

:host /deep/ .ui-datatable thead th {
    word-wrap: break-word;
    }

:host /deep/ input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
    margin: 0; 
}

/*per firefox > 57*/
:host /deep/ input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
    margin: 0; 
}

:host /deep/ .cliente_col{
    width: 100px;
}

:host /deep/ .deliverable_col{
    width: 85px;
}


:host /deep/ .editable_col{
    width: 45px;
}

:host /deep/ .error_col{
    color: red;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}

:host /deep/ .correct_col{
    color: green;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}

:host /deep/ .ui-datatable-scrollable-body{
    padding-bottom: 0px !important;
}

:host /deep/  .ui-datatable-header {
    padding: 0px  !important;
}